<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>게시글 상세 화면</title>
<link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
	<div class="container">
		<h2>게시글 수정</h2>
		<form id="frm" method="post">
			<table class="board_detail">
				<colgroup>
					<col width="15%" />
					<col width="35%" />
					<col width="15%" />
					<col width="35%" />
				</colgroup>
				<caption>게시글 내용수정</caption>
				<tbody>
					<tr>
						<th scope="row">글 번호</th>
						<td th:text="${board.board_idx }"></td>
						<th scope="row">조회수</th>
						<td th:text="${board.hit_cnt }"></td>
					</tr>
					<tr>
						<th scope="row">작성자</th>
						<td th:text="${board.creator_id }"></td>
						<th scope="row">작성일</th>
						<td th:text="${board.created_datetime }"></td>
					</tr>
					<tr>
						<th scope="row">제목</th>
						<td colspan="3"><input type="text" id="title" name="title"
							th:value="${board.title }" /></td>
					</tr>
					<tr>
						<td colspan="4" class="view_text"><textarea title="내용"
								id="contents" name="contents" onfocusout="updateEdit()"
								th:text="${board.contents }"></textarea></td>
					</tr>
				</tbody>
			</table>
			<input type="hidden" id="board_idx" name="board_idx" th:value="${board.board_idx}">
				<a href="#this" id="editfin" class="btn" onclick="updateEdit()">저장</a><!-- 수정완료 -->
			<a href="#this" id="cancel" class="btn"> 취소</a><!-- 수정취소 -->
		</form>
		<!-- <a href="#this" id="list" class="btn">목록으로</a>
		<a href="#this" id="edit" class="btn">수정하기</a>
		<a href="#this" id="delete" class="btn">삭제하기</a> -->

	</div>

	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			
			//$("#editfin").on("click", function(){
				//var frm = $("frm")[0];
				//location.href = "/board/updateBoard.do";
				//frm.submit();
				
			//});
			
			$("#cancel").on("click", function(){
				location.href="/board/openBoardList.do";
			});
		
		});
		
		function updateEdit(){
			var frm = $("#frm")[0];
			frm.action = "/board/updateBoard.do";
			frm.submit();
			//contents = document.getElementById("contents").value;
			//alert(title+" "+contents);
			//location.href="/board/updateBoard.do";
			};
	</script>
</body>
</html>