<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>signup</title>
</head>

<body>
	<div class="container">
		<h2>회원가입</h2>
		<form id="frm" name="frm" method="post">
			<div class="sign_up">
				<input type="hidden" id="permission" name="permission" value=""/>
				<b>아이디</b><br>
				<input type="text" id="userid" maxlength="20" name="userid" placeholder="ID" />
				<input type="button" id="idcheck" name="idcheck" value="중복확인" /><br>
				<div id="id_chk"></div>
				<b>비밀번호</b><br>
				<input type="password" id="userpwd" maxlength="40" name="userpwd" placeholder="비밀번호" /><br>
				<b>이름</b><br>
				<input type="text" id="username" name="username" /><br>
				<b>이메일</b> <br> <input type="text" id="email" name="email" /> <br>
				<input type="submit" id="submit" value="가입완료" class="btn" onclick="signupFin()">
			</div>
		</form>
		<script
			src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script type="text/javascript">
			var idck = 0;

			$('#idcheck').click(function() {
				//var userid = $('#userid').val();

				$.ajax({
					async : true,
					type : 'POST',
					url : "/idcheck.do",
					dataType : "json",
					//contentType : "application/json; charset=UTF-8",
					data : {
						"userid" : $('#userid').val()
					},
					success : function(data) {
						if (data == 1) {
							alert("아이디가 존재합니다. 다른 아이디를 입력해주세요.");
							$("#userid").focus();
							$("#permission").val("0");
						} else {
							alert("사용가능한 아이디입니다.");
							//아이디가 중복이 아니라면 idck=1
							$("#permission").val("1");
						}
					},
					error : function(error) {
						alert("error : " + error);
					}
				})
			})
			
			function signupFin() {
				var frm = $("#frm")[0];
				frm.action = "/signup/insertMember.do";
				//frm.submit();
			};
		</script>
	</div>
</body>
</html>